/**
 * Styles for the Knight-Wallace Website
 * @rdarling42
 *
 */
@mixin link_style($color, $hover) {
  a {
    color: $color;
    
    &:link,
    &:visited {
      color: $color;
    }

    &:hover {
      color: $hover;
    }
  }
}

.disappear {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: $charcoal;
}

a {
  transition: all 0.5s ease;
  color: $lblue;
  
  &:link,
  &:visited {
    color: $lblue;
  }

  &:hover {
    color: $ublue;
  }
}

.row {
  max-width: 128.0rem;
}

#header {
  padding: 2rem;
  color: $white;
  background: $ublue;
  
  h1,
  h2 {
    color: $white;
  }
}

#eyebrow {
  ul {
    float: right;
    
    li {
      float: left;
      list-style: none;
      
      a {
        font-size: 1.4rem;
        padding: 2px 5px 2px 8px;
        color: $white;
      }
    }
  }
}

#main_nav {
  color: $white-gray;
  background: $charcoal;
  
  li {
    display: inline-block;
  }

  .primary {
    font-size: 2rem;
    margin-bottom: 0;
    transition: all 0.5s ease;
    text-align: center;
    text-transform: uppercase;
    @include link_style($white-gray, $charcoal);
    
    a {
      display: inline-block;
      width: 100%;
      padding: 2rem;
    }

    &:hover,
    &.active {
      background: $white-gray;
      @include link_style($charcoal, $ublue);
    }
  }

  .sub-nav-wrap {
    font-size: 2rem;
    text-align: center;
    background: $white-gray;
    @include link_style($lblue, $charcoal);
    
    li {
      font-size: 2rem;
      margin: 1rem 2rem 0;
    }
  }
}
/* Hero Unit */
#hero_image {
  display: flex;
  flex-direction: column;
  height: 750px;
  color: $white;
  background: url(http://lorempixel.com/output/city-q-c-1920-1920-3.jpg) no-repeat center center;
  background-size: cover;
  justify-content: center;
  
  .columns {
    float: none;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background: rgba($charcoal, .7);
  }

  h2 {
    font-size: 2.6rem;
    font-weight: normal;
    margin-bottom: 0;
    color: $myellow;
  }

  p {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}
/* Home Page Posts */
#main.posts {
  margin-top: 5rem;
  margin-bottom: 6rem;
  
  .columns {
    margin-bottom: 2rem;
    color: $white;
    
    img {
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: 2rem;
      font-weight: bold;
      color: $white;
    }

    a {
      font-size: 1.6rem;
      display: inline-block;
      color: $white;
    }

    .text {
      padding: 1.5rem 3rem 1rem;
      transition: all 0.5s ease;
      background: $lblue;
      
      &:hover {
        background: $ublue;
      }
    }
  }
}

#alerts {
  margin-bottom: 8rem;
}

.alert {
  margin-bottom: 2rem;
  background: $white-gray;
  
  .large-4 {
    background: $red;
    color: $white;
    font-size: 1.4rem;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    
    strong {
      font-size: 1.8rem;
    }
  }

  .large-8 {
    font-size: 1.8rem;
    padding: 2rem;
    @include link_style($red, lighten($red, 10%));
    
    a {
      font-size: 2.4rem;
      margin-right: 2rem;
    }

    p {
      font-size: 1.8rem;
    }
  }
}

.story-list {
  .heading {
    margin-bottom: 2rem;
    padding: 0 1rem;
    background: $charcoal;
  }

  img {
    max-width: 246px;
    height: auto;
  }

  h3 {
    padding: 5px 0;
    color: $white;
  }

  .news-article {
    position: relative;
    height: 18rem;
    margin-bottom: 2rem;
    background: $white-gray;
    padding: 1rem 2rem;
  }

  .large-5 {
    padding-top: 0.5rem;
  }

  .text {
    position: relative;
    padding-left: 2rem;
    height: 100%;
  }

  h4 {
    a {
      font-size: 2rem;
      font-weight: bold;
      color: $lblue;
    }
  }

  .date {
    font-size: 1.6rem;
    color: $charcoal;
  }

  .tags {
    position: absolute;
    bottom: 0;
    
    ul {
      margin: 0;
      padding: 0;
      
      li {
        display: inline-block;
        list-style: none;
        color: $charcoal;
        
        a {
          padding: 0;
          color: $charcoal;
        }
      }
    }
  }

  .more-posts {
    align-items: center;
    background: $lblue;
    color: #fff;
    display: flex;
    font-size: 2rem;
    height: 18rem;
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
  }
}
/* Footer */
.site-footer {
  padding-bottom: 80px;
  
  p {
    font-size: 1.4rem;
    color: $lblue;
  }

  a {
    font-size: 1.4rem;
    color: $lblue;
  }

  .large-2 {
    text-align: right;
  }

  .top {
    background: $ublue;
    color: $white;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding: 35px 0;
    
    h5,
    h6 {
      font-size: 2rem;
      font-weight: bold;
      color: $white;
    }

    h6 {
      font-size: 1.8rem;
    }

    p {
      color: $white;
      font-size: 1.8rem;
    }

    a {
      color: $white;
      font-size: 1.8rem;
    }

    .social-media-links {
      width: 100%;
      margin: -5px 0 2rem;
      padding: 0;
      
      li {
        display: inline-block;
        margin-right: 2rem;
        list-style: none;
        
        a {
          font-size: 3rem;
        }
      }
    }

    input[type=text] {
      width: 65%;
      height: 4.4rem;
      float: left;
      margin-right: 3%;
      font-size: 1.8rem;
    }

    input[type=submit] {
      width: 30%;
      height: 4.4rem;
      background: $lblue;
      border: none;
      color: $white;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}